*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Smythe', cursive;
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    max-width: 600px;
}

header {
  background-image: url(images/burger.png);
  background-size: cover;
  color: #ffffff;
  height: 167px;
  width: 100%;
  padding: 2em;
  font-size: 1.4rem;
}
main, .checkout-section{
    margin: 2em;
    width: 508px;
}
.item-container{
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: solid 1px #DEDEDE;
}

.item-graphic{
   font-size: 70px;
}
.item-details{
    font-size: 1.2rem;
    line-height: 1.3em;
}
.item-description{
    color: #8B8B8B;
}
.add-btn{
    font-size: 23px;
    position: absolute;
    right: 40px;
    margin: 0 auto;
    border: solid 1px #DEDEDE;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: none;
    text-align: center;
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
}
.add-btn:hover{
background-color: #DEDEDE;
}
.add-btn:active{
    scale: 0.78;
}
.checkout-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.checkout-orders{
    border-bottom: solid 1px #DEDEDE;
}
.ordered-item,.total{
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    gap: 8px;
}
.ordered-item .item-price, .total-price{
    position: absolute;
    right: 40px;
}
.ordered-item .item-title{
    font-size: 1.5rem;
}
.ordered-item .remove-btn{
    background: none;
    border: none;
    opacity: 0.5;
    font-size: 10px;
}
.purchase-btn{
    background-color: #16DB99;
    border: none;
    color: white;
    height: 60px;
    width: 508px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
}