*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Smythe', cursive;
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    max-width: 600px;
}

header {
  background-image: url(images/burger.png);
  background-size: cover;
  color: #ffffff;
  height: 167px;
  width: 100%;
  padding: 2em;
  font-size: 1.4rem;
}
.item-container{
    width: 508px;
    height: 140px;
    display: flex;
    align-items: center;
    margin: 2em;
    position: relative;
    border-bottom: solid 1px #DEDEDE;
}

.item-graphic{
   font-size: 70px;
}
.item-details{
    font-size: 1.2rem;
    line-height: 1.3em;
}
.item-description{
    color: #8B8B8B;
}
.add-btn{
    font-size: 23px;
    position: absolute;
    right: 40px;
    margin: 0 auto;
    border: solid 1px #DEDEDE;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: none;
    text-align: center;
}
